*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightblue;
}

#canvas_main_div{
    margin: 2vw;
    float: left;

    width: 70vw;
    height: 35vw;
}

#canvas_main{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 10px;
}

#tree_div{
    border: 3px solid black;
    border-radius: 10px;
    height: 5vw;
    width: 92vw;
    margin-left: 2vw;
    padding: 10px;
}

#weather_and_stat_div{
    display: inline-block;
    height: 35vw;
    width: 20vw;
    margin-top: 2vw;
}

#weather_div{
    border: 3px solid black;
    border-radius: 10px;
    height: 15vw;
    width: 20vw;
    margin-bottom: 5vw;
    padding: 5%;
}

#canvas_stat_div{
    height: 15vw;
    width: 20vw;
}

#canvas_stat{
    height: 100%;
    width: 100%;
    border: 3px solid black;
    border-radius: 10px;
}

#tree_div > button{
    height: 100%;
    width: 15%;
    border: none;
    border-radius: 10px;
    background-color: brown;
}

#weather_div > div{
    height: 45%;
    width: 100%;
    margin-bottom: 5%;
}

#weather_div > div > button{
    height: 100%;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

#weather_div > div > div{
    display: inline-block;
    width: 65%;
    height: 100%;
    vertical-align: middle;
}

#weather_div > div > div > div{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
}

#weather_div > div > div > div > input{
    flex: 1;
    min-width: 0;
    text-align: right;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
}

#weather_div > div > div > div > input:focus{
    outline: none;
}

#weather_div > div > div > div > input:disabled{
    opacity: 0.5;
}

#weather_div > div > div > p{
    margin: 0px;
    text-align: center;
}
