:root{
    --main-background-color: lightblue;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightblue;
}

button{
    transition: filter 200ms ease;
    cursor: pointer;
}

input{
    transition: border-bottom 200ms ease, filter 200ms ease, opacity 200ms ease;
    cursor: pointer;
}

button:hover{
    filter: brightness(0.9);
}

button.activating{
    filter: brightness(0.8);
}

input:focus{
    filter: brightness(0.9);
}

.div_title{
    position: absolute;
    background-color: var(--main-background-color);
    font-weight: bold;
    font-size: 1.5vw;
}

#canvas_main_div{
    margin-top: 2vw;
    margin-left: 3vw;
    float: left;

    width: 70vw;
    height: 35vw;
}

#canvas_main, #canvas_stat{
    width: 100%;
    height: 100%;
    border: 3px solid black;
    border-radius: 10px;
}

#tree_div{
    border: 3px solid black;
    border-radius: 10px;
    height: 7vw;
    width: 70vw;
    margin-top: 0.5vw;
    margin-left: 3vw;
    padding: 1vw;
    float: left;

    display: flex;
    align-items: center;
    gap: 1vw;
}

#density_div{
    border: 3px solid black;
    border-radius: 10px;
    height: 7vw;
    width: 20vw;
    margin-top: 0.5vw;
    margin-left: 3vw;
    padding: 1vw;

    display: inline-flex;
    align-items: center;
    gap: 1vw;
}

#tree_div > .div_title, #density_div > .div_title{
    transform: translate(0vw, -3.5vw);
}

#weather_and_stat_div{
    display: inline-block;
    height: 35vw;
    width: 20vw;
    margin-top: 2vw;
    margin-left: 3vw;
}

#weather_div{
    border: 3px solid black;
    border-radius: 10px;
    height: 15vw;
    width: 20vw;
    margin-bottom: 5vw;
    padding: 1vw;
}

#weather_div > .div_title{
    transform: translate(0vw, -2vw);
}

#canvas_stat_div{
    height: 15vw;
    width: 20vw;
}

#tree_div > button{
    height: 4vw;
    width: 8vw;
    border: none;
    border-radius: 10px;
    background-color: brown;
    font-size: 1.5vw;
    font-weight: bold;
}

#density_div > button{
    height: 4vw;
    width: 5vw;
    border: none;
    border-radius: 10px;
    font-size: 1.3vw;
    font-weight: bold;
}

#rain_div, #wind_div{
    height: 45%;
    width: 100%;
    margin-bottom: 5%;
}

#rain_button, #wind_button{
    border: none;
    border-radius: 10px;

    height: 100%;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5vw;
    font-weight: bold;
}

#rain_input_div, #wind_input_div{
    display: inline-block;
    width: 65%;
    height: 100%;
    vertical-align: middle;

    font-size: 1.2vw;
}

#rain_input_inner_div, #wind_input_inner_div{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
}

#rain_intensity_input, #wind_intensity_input{
    flex: 1;
    min-width: 0;
    text-align: right;
    border: none;
    background-color: var(--main-background-color);
    border-bottom: 2px solid black;

    font-size: 1.5vw;
}

#rain_intensity_unit, #wind_intensity_unit{
    font-size: 1.5vw;
}

#rain_intensity_response, #wind_intensity_response{
    font-size: 1.2vw;
    margin: 0px;
    text-align: center;
}

#rain_intensity_input:focus, #wind_intensity_input:focus{
    outline: none;
}

#rain_intensity_input:disabled, #wind_intensity_input:disabled{
    opacity: 0.5;
}


